.PageExerciseDetails-header {
  display: flex;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  svg {
    height: 25px;
  }
}

.page-exercise {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  &__area1 {
    display: flex;
    &__image {
      flex-basis: 45%;
      padding: 10px;
      img {
        height: inherit;
        object-fit: cover;
        width: 100%;
      }
    }
    &__general-details {
      flex-basis: 54%;
      display: flex;
      flex-direction: column;
      .details-muscle {
        display: flex;
        align-items: baseline;
        p {
          &:first-child {
            display: none;
          }
          padding: 1px 8px;
          font-size: 13px;
          font-weight: 600;
          background: #ecad00;
          margin-right: 2px;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
        }
      }
      .details-description {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  &__area2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    &__objective {
      display: flex;
      justify-content: center;
      align-content: baseline;
      p {
        margin: 0 10px;
      }
      svg {
        align-self: center;
      }
    }
    &__sets {
      display: flex;
      gap: 10px;
      flex-direction: column;
      &__controls {
        display: flex;
        justify-content: center;
        gap: 10px;
        &__selectType {
          select {
            height: 100%;
          }
        }
        &__moreOrLess {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}

//PROGRESS BAR for routine pages
.routine-tracker {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.progress-bar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  .progress-bar-date {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    font-weight: 700;
  }
  .progress-bar-date__today {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -35px;
    font-weight: 700;
  }
}

.routine-ender {
  margin-bottom: 10px;
}
