#root {
  padding: 0;
  margin: 0;
  width: 100vw;
}

#root,
body {
  background: rgb(45, 44, 44);
}

.App {
  max-width: 330px;
  margin: auto;
  h1 {
    margin-top: 0px;
  }
}

/*Main charging animation*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: inherit;
  &-box {
    position: relative;
    animation: shrinkAndDisappear 1s linear 3s forwards;
    -webkit-animation: shrinkAndDisappear 1s linear 3s forwards;
  }
  svg {
    z-index: 2;
  }
  img {
    z-index: 5;
    height: 8.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotateOverItself 35s linear infinite;
    -webkit-animation: rotateOverItself 35s linear infinite;
  }
}

@keyframes rotateOverItself {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrinkAndDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(1.2);
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.navigation {
  display: flex;
  gap: 10px;
  a {
    padding: 4px 15px;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
  }
  &__item {
    &-active {
      background: #fff;
      color: black;
    }
    &-inactive {
      background: #b6b6b6;
      color: rgb(83, 83, 83);
    }
  }
}

.main-exercises {
  background: #fff;
  position: relative;
  color: black;
  padding: 10px 2px;
  border-radius: 0 8px 8px 8px;
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px 8px;
  -ms-border-radius: 0 8px 8px 8px;
  -o-border-radius: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
  .button-with-text {
    width: 80px;
    color: white;
    background-color: black;
    padding: 5px 13px 5px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

.all-exercises-list {
  padding: 0;
}

.Item-exercise {
  border: 1.5px solid black;
  box-shadow: 3px 3px 2px 2px rgba(44, 44, 44, 0.2);
  min-height: 70px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 10px;
  background: white;
  list-style: none;
  color: black;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  svg: {
    height: 25px;
    align-items: center;
  }
  &__area1 {
    &__titleNbuttons {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      &__buttons {
        display: flex;
        gap: 13px;
        svg {
          height: 1.3em;
        }
      }
      h2 {
        margin: 0;
        font-size: 1.7em;
      }
    }
    &__routineChooser {
      margin-top: 10px;
      margin-bottom: 10px;
      form {
        display: flex;
        gap: 10px;
        button {
          padding: 8px 10px;
          background: rgb(29, 28, 28);
          font-size: 1em;
          border-radius: 8px;
        }
        select {
          background: rgb(51, 49, 49);
          color: white;
        }
      }
    }
  }
  &__area2 {
    border-top: 1.5px solid black;
  }
  &__image {
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 35px;
    position: absolute;
    background: #fff;
    img {
      height: inherit;
      object-fit: cover;
      width: 100%;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
}

.item-my-exercise {
  justify-content: space-between;
  align-items: center;
  margin: 0px 0.5rem 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: white;
  list-style: none;
  color: black;
  &__area1 {
    display: flex;
    gap: 10px;
    min-width: 15rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 8px 15px;
    border: 1.5px solid black;
    box-shadow: 3px 3px 2px 2px rgba(44, 44, 44, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    svg {
      height: 25px;
    }
    &__muscles {
      position: absolute;
      left: 15px;
      top: 4px;
      span {
        &:first-child {
          display: none;
        }
        padding: 1px 8px;
        font-weight: 600;
        background: #ecad00;
        margin-right: 3px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    h2 {
      margin: 0;
      font-size: 1.2em;
    }
    &__options {
      position: absolute;
      top: 1px;
      left: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 82px;
      justify-content: space-around;
      background-color: white;
      align-items: center;
      svg {
        height: 30px;
        align-items: center;
      }
    }
    &__textNimage {
      display: flex;
      align-items: center;
      padding-left: 0.3rem;
      padding-right: 2rem;
    }
  }
  &__area2 {
    width: 95%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    gap: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    //
    &__form__part0 {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;

      p,
      input {
        flex-basis: 85%;
        margin: 5px 2px 5px 5px;
        text-align: initial;
      }
    }
    //
    &__form__part1 {
      display: flex;
      justify-content: space-around;
      padding-bottom: 5px;
      padding-top: 5px;
      background: #fff;
      border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -ms-border-radius: 0 0 5px 5px;
      -o-border-radius: 0 0 5px 5px;
      &__setButtons {
        display: flex;
        gap: 3px;
        button {
          padding: 0.4em 0.9em;
          color: white;
          background: #1e1d1d;
        }
      }
    }
    &__form__part2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 3px;
      &__set {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-top: 1.5px solid black;
        padding: 6px 10px;
        h4 {
          margin: 0;
        }
        input[type="number"] {
          max-width: 30px;
          height: 22px;
        }
        input[type="checkbox"] {
          width: 18px;
        }
        .mesurer {
          display: flex;
          align-items: center;
          gap: 3px;
          label {
            font-size: 13px;
          }
          svg {
            height: 16px;
          }
        }
      }
    }
  }
  &__image {
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    width: 59px;
    height: 60px;
    top: 0;
    left: -80px;
    padding: 5px;
    background: #fff;
    img {
      height: inherit;
      object-fit: cover;
      width: 99%;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
}

.tracking-container {
  justify-content: center;
  display: flex;
  div {
    border-radius: 15px;
    border: 2px solid black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    p {
      margin: 0;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 780px) {
  .App {
    max-width: 500px;
  }

  .main-exercises {
    padding: 10px 25px;
  }

  .item-my-exercise {
    margin: 0px 2rem 10px;
    &__area1 {
      min-width: 320px;
      h2 {
        font-size: 1.5em;
      }
    }
  }

  item-my-exercise {
    &__area1 {
      padding: 30px 30px 5px 10px;
      h2 {
        margin: 0;
        font-size: 1.2em;
      }
      &__textNimage {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__area2 {
      //
      &__form__part2 {
        &__set {
          padding: 6px 15px;
        }
      }
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
