/*Main charging animation*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: inherit;
  &-box {
    position: relative;
    animation: shrinkAndDisappear 1s linear 3s forwards;
    -webkit-animation: shrinkAndDisappear 1s linear 3s forwards;
  }
  svg {
    z-index: 2;
  }
  img {
    z-index: 5;
    height: 8.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotateOverItself 35s linear infinite;
    -webkit-animation: rotateOverItself 35s linear infinite;
  }
}

@keyframes rotateOverItself {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrinkAndDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(1.2);
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

//
//

@media screen and (min-width: 780px) {
}
